.LayerTree {
  color: var(--puck-color-layer_tree-foreground);
  font-family: var(--puck-font-stack);
  font-size: var(--puck-font-size-xxs);
  margin: 0;
  position: relative;
  list-style: none;
  padding: 0;
}

.LayerTree-zoneTitle {
  color: var(--puck-color-muted-foreground);
  font-size: var(--puck-font-size-xxxs);
  text-transform: uppercase;
}

.LayerTree-helper {
  text-align: center;

  /* This has been implemented only because it reduces the custom properties required */ 
  color: var(--puck-color-muted-foreground); 

  font-family: var(--puck-font-stack);
  margin: 8px 4px;
}

.Layer {
  position: relative;
  border: 1px solid transparent;
}

.Layer-inner {
  padding-left: 20px;
  padding-right: 8px;
  border-radius: 3px;
}

.Layer--containsZone > .Layer-inner {
  padding-left: 8px;
}

.Layer-clickable {
  align-items: center;
  display: flex;
}

.Layer-inner:hover {
  cursor: pointer;
}

.Layer:not(.Layer--isSelected) > .Layer-inner:hover,
.Layer--isHovering > .Layer-inner {
  color: var(--puck-color-layer_tree-foreground--interactive);
  background: var(--puck-color-layer_tree-background--interactive);
}

.Layer--isSelected {
  background: var(--puck-color-layer_tree-background--selected);
  border-color: var(--puck-color-layer_tree-border--selected);
  border-radius: 4px;
}

.Layer--isSelected > .Layer-inner {
  background: var(--puck-color-layer_tree-background--interactive);
  font-weight: 600;
}

.Layer--isSelected > .Layer-inner > .Layer-clickable > .Layer-chevron,
.Layer--childIsSelected > .Layer-inner > .Layer-clickable > .Layer-chevron {
  transform: scaleY(-1);
}

.Layer-zones {
  display: none;
  margin-left: 20px;
}

.Layer--isSelected > .Layer-zones,
.Layer--childIsSelected > .Layer-zones {
  display: block;
}

.Layer-zones > .LayerTree {
  margin-left: 16px;
}

.Layer-title,
.LayerTree-zoneTitle {
  display: flex;
  gap: 8px;
  align-items: center;
  margin: 8px 4px;
}

.Layer-icon {
  color: var(--puck-color-layer_tree-accent);
  margin-top: 4px;
}

.Layer-zoneIcon {
  /* This has been implemented only because it reduces the custom properties required */ 
  color: var(--puck-color-muted-foreground);
  margin-top: 4px;
}
